.locations {
    display: flex;
    flex-direction: row;
}

.location {
    background-color: grey;
    border: 1px dashed darkgreen;
    padding: 1rem;
    margin: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    color:rgb(231, 151, 21)
}